<div class="container-login100">
    <div class=" m-5 cuadroprincipal">
        <div class=" mb-5 ">
            <div class="row">
                <div class="col cuadroizq shadow-lg text-center" style="background: rgb(0,188,252);">
                    <img class="centrado" src="../assets/images/logo_bugoff3.png" alt="" style="width: 9rem;">
                </div>
                <div class="col cuadroder  shadow-lg " style="background: rgb(255, 255, 255);">
                    <div class="px-3">
                        <div class="texto1">
                            <h1>Registrate</h1>
                        </div>
                        <div class="texto2">
                            <p>Para usar la plataforma</p>
                        </div>
                        <form ngNativeValidate (ngSubmit)="onRegister()">
                            <div class="my-3">
                                <input required [(ngModel)]="nombre" class="input100 " type="text" name="nombre" placeholder="Nombre(s)">
                            </div>
                            <div class="my-3">
                                <input required [(ngModel)]="apellidos" class="input100 " type="text" name="apellidos" placeholder="Apellidos">
                            </div>
                            <div class="my-3">
                                <input required [(ngModel)]="correo" class="input100 " type="email" name="email" placeholder="Email">
                            </div>
                            <div class="my-3">
                                <input required [(ngModel)]="password" pattern="^(?=.*?[a-z])(?=.*?[0-9]).{6,}$" title="La contraseña contener letras y números y por lo menos 6 caracteres" class="input100 " type="password" name="contrasena" placeholder="Contraseña">
                            </div>
                            <div class="my-3">
                                <input required [(ngModel)]="cpassword" pattern="^(?=.*?[a-z])(?=.*?[0-9]).{6,}$" title="La contraseña contener letras y números y por lo menos 6 caracteres" class="input100 " type="password" name="confircontrasena" placeholder="Confirmar contraseña">
                            </div>
                            <div>
                                <button class="btn-login"> Registrarme </button>
                            </div>
                        </form>
                        <div class="registrate" routerLink="/login">
                            <p class="registrate"> Ya tengo cuenta.
                                <a class="link">
                  Iniciar sesión
                </a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>